<% include partials/header %>

<div class="thumbnail">
  <h1 class="text-center">Auth App </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <a href="/login" class="btn btn-primary btn-lg">Login</a>
      <a href="/signup" class="btn btn-primary btn-lg">Signup</a>
      <a href="/home" class="btn btn-primary btn-lg">Página inicial</a>
      <a href="/logout" class="btn btn-primary btn-lg">Deslogar</a>

      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
