<% include partials/header %>

<h1>ACERTÔ, MIZERAVI</h1>

<% include partials/footer %>


<a href="/logout" class="btn btn-primary btn-lg">Deslogar</a>
<a href="/home" class="btn btn-primary btn-lg">Página inicial</a>
