<% include partials/header %>


<form  action="/registration" method="POST">
  <input type="text" name="username" placeholder="username:">
  <input type="password" name="password" placeholder="password:">
  <input type="submit" name="" value="Add new user">
</form>

<% include partials/footer %>
